<div class="w-full -mt-40 shadow bg-sky-700/95 text-white font-bold text-center sm:text-xl md:text-2xl p-8 mb-20 z-30 relative mx-auto">
  <p>We prioritize transparency with clear pricing and no hidden fees, so you can budget confidently.</p>
  
  <p> Our efficient processes ensure your website is delivered quickly without sacrificing quality, allowing you to launch your online presence sooner.</p>
  
  <p>Trust in our pricing, enjoy a standout website, and stay ahead of the competition. Let’s create something great together!</p>
</div>