<div id="about" class="w-full -mt-40 shadow bg-sky-700/95 text-white font-bold text-center p-8 mb-20 z-30 relative mx-auto">
  <div class="about mb-8">
    <p>We prioritize transparency with clear pricing and no hidden fees, so you can budget confidently.  Our efficient processes ensure your website is delivered quickly without sacrificing quality, allowing you to launch your online presence sooner.</p>
    <!-- <p>Enjoy a standout website and stay ahead of the competition. Let’s create something great together!</p> -->
  </div>
  
  <div class="commitment">
    <h2 class="text-xl font-bold underline">Commitment to Community</h2>
    <p>We strive to make our community a better place.  <i>If you are a non-profit organization, first responder, educator, veteran, or active military please reach out to us for special rates</i></p>
  </div>
</div>