<div class="w-full -mt-40 shadow bg-sky-700/95 text-white font-bold text-center sm:text-xl md:text-2xl p-4 mb-20 z-30 relative mx-auto">
  <p>Your Partner in Exceptional Web Solutions!</p>
  
  <p>We believe in transparency, which is why we offer clear pricing with no hidden fees. You’ll know exactly what to expect from the outset, allowing you to plan your budget with confidence. </p>
  
  <p>Time is of the essence, and we pride ourselves on delivering your website quickly without compromising on quality. Our streamlined processes ensure your project is completed on time, so you can launch your online presence and start achieving your goals sooner.</p>
  
  <p>Rest easy with a website that stands out, a pricing structure you can trust, and a delivery timeline that keeps you ahead of the competition. Let’s build something great together!</p>
</div>