<div class="mt-20 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4 place-items-center space-y-20 bg-zinc-50 items-baseline">
  @for (design of designs; track $index) {
    <a class="p-4 group" [href]="liveDemo ? 'https://pixelarity.com/' + (design.name | toSlug) : '/#contact'" target="_blank">
       <div class="flex flex-col max-w-md bg-white shadow-lg transition-transform transform lg:hover:scale-105 hover:shadow-xl duration-500">
       <div class="flex flex-row items-center bg-gradient-to-r from-orange-800 via-orange-600 to-orange-500 text-white font-bold justify-between p-2 relative">
           <h2>{{design.name}}</h2>
           <div class="px-3 pt-1 min-w-20 rounded font-bold text-white tracking-widest text-sm uppercase text-center group-hover:block duration-700 transition-all transform lg:opacity-0 group-hover:opacity-100 absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 border border-white">
               {{design.package}}
           </div>
            <div class="category">{{design.category}}</div>
        </div>
         @defer (on viewport) {
           <img loading="lazy" src="../../assets/designs/{{design.name | toSlug}}.jpg" alt="A thumbnail of the {{design.name}} design">
         } @placeholder(minimum 500ms) {
           <div class="placeholder">
             <img loading="lazy" src="../../assets/default.webp" alt="A cutie lime-green saguaro logo">
           </div>
         } @loading {
           <div class="loading">
             <img loading="lazy" src="../../assets/charlie-loader.gif" alt="loading and loading and loading and loading...">
           </div>
         }
     </div>
   </a>
  }
</div>