<div class="w-full bg-sky-700 text-white p-8 py-16">
  <h4 id="contact" class="text-4xl font-bold text-center w-full mb-4">Contact Us</h4>
  <a href="tel:520-201-0336" class="text-5xl font-bold text-center w-full mb-6 text-orange-300 hover:text-orange-500 flex justify-center">520.201.0336</a>
  <div class="text-center mb-12">
    <p>Please submit the form below to contact us, or you can email us:</p>
    <a class="font-bold text-orange-300 hover:text-orange-500" href="mailto:hello@soazsites.com">Hello&#64;SoAZsites.com</a>
  </div>
  <div class="flex flex-col lg:flex-row justify-center gap-8 m-auto">
    <div class="w-full lg:w-2/5 flex m-auto">
      <form
        action="https://formspree.io/f/manybwwg"
        method="POST"
        class="w-full flex flex-col mx-auto"
      >
        <div class="flex flex-col sm:flex-row gap-6 mb-6">
          <div class="md:w-1/2 flex flex-col w-full">
            <label for="first-name">First Name</label>
            <input class="h-12 w-full" required type="text" name="first-name" id="first-name">
          </div>
          <div class="md:w-1/2 flex flex-col w-full">
            <label for="last-name">Last Name</label>
            <input class="h-12 w-full" required type="text" name="last-name" id="last-name">
          </div>
        </div>
        <div class="flex flex-col sm:flex-row gap-6 mb-6">
          <div class="md:w-1/2 flex flex-col w-full">
            <label for="phone">Phone</label>
            <input class="h-12 w-full" required type="text" name="phone" id="phone">
          </div>
          <div class="md:w-1/2 flex flex-col w-full">
            <label for="package">Email</label>
            <input class="h-12 w-full" required type="text" name="package" id="package">
          </div>
        </div>
        <div class="flex flex-col w-full mb-5">
          <div class="flex flex-row">
            <label for="message">Message</label>
          </div>
          <textarea class="h-20" name="message" id="message"></textarea>
          <span>Please describe your project and include the desired package</span>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>