<div class="p-4">
  <div class="w-3/4 m-auto mb-20 text-center">
    <h3 id="pricing" class="text-4xl font-bold mb-2">Pricing</h3>
    <p>Everything listed in each package is included, the only variable is the domain name which is not included as prices are out of our control.</p>
    <p>We believe in transparency, which is why we offer clear pricing with no hidden fees. You’ll know exactly what to expect from the start, allowing you to plan your budget with confidence.</p>
  </div>
  
  <div class="w-full sm:w-3/4 grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-5 mx-auto mb-10">
    @for (package of prices; track $index) {
      <app-price-card [package]="package"></app-price-card>
    }
  </div>
</div>
