<a href="https://soazsites.com/#main-content" class="absolute top-[-40px] left-0 bg-white text-black px-4 py-2 z-50 transition-all duration-300 focus:top-0 focus:outline-none">
  Skip to main content
</a>

<app-nav></app-nav>

<router-outlet></router-outlet>

@defer() {
  <a class="sticky bottom-1/3 bg-orange-700 text-white font-bold p-3 rounded-tr rounded-br z-50 shadow-xl cursor-pointer" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/calendly-soazsites/30min'});return false;">Schedule A Call</a>
  @if(saleEnds.days !== 0 && saleEnds.hours !== 0) {
    <div class="sticky bottom-0 flex flex-col p-6 bg-green-600 text-white font-extrabold text-center z-50">
      <div class="text-xl md:text-3xl">
        SPRING SALE - Save up to <span class="underline">50% Off!</span>
      </div>
      <div class="text-lg md:text-2xl">
        Sale ends in {{saleEnds.days}} Days and {{saleEnds.hours}} Hours
      </div>
    </div>
  }
  <app-footer></app-footer>
}